
@{
    ViewBag.Title = "Blog";
}


@{
    ViewBag.Title = "BlogDetails";
}
@model RentShopVehicle.Models.BlogComments

<!-- Blog Details Hero Begin -->
<section class="blog-details-hero spad set-bg" data-setbg="/Images/blog/details/details-hero-bg.jpg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="blog__details__hero__text">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <img src="~/Images/blog/details/details-pic.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">

                <div class="blog__details__comment">
                    <h4>Comments</h4>
                    <div class="blog__details__comment__item">
                        @{ foreach (var comment in Model.Comments)
                            {
                                <div class="blog__details__comment__item__pic">
                                    <img src="~/Images/blog/details/comment-1.png" alt="">
                                </div>
                                <div class="blog__details__comment__item__text">
                                    <h6>@comment.UserName :@if (comment.MessageType == RentShopVehicle.Domain.Enums.MessageType.Feedback) {<span class="bg-warning text-dark">@comment.MessageType.ToString()</span> } else if (comment.MessageType == RentShopVehicle.Domain.Enums.MessageType.Comment)
                                    {<span class="bg-info text-dark">@comment.MessageType.ToString()</span>} else if (comment.MessageType == RentShopVehicle.Domain.Enums.MessageType.Error) { <span class="bg-danger text-white">@comment.MessageType.ToString()</span>}</h6>
                                    <p>
                                        @comment.Comment
                                    </p>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="blog__details__comment__form">
                    <h4>Leave A Comment</h4>
                    @using (Html.BeginForm("AddBlogComment", "Home", FormMethod.Post, new { autocomplete = "off" }))
                    {

                        <div class="input-desc">
                            <p>Comment</p>
                            <textarea name="Comment"></textarea>
                        </div>
                        <div class="">
                            <div class="input-list-item">
                                <p>Comment Type</p>

                                @{var typeList = Enum.GetValues(typeof(RentShopVehicle.Domain.Enums.MessageType))
                                          .Cast<RentShopVehicle.Domain.Enums.MessageType>
                                              ()
                                              .Where(e => e != RentShopVehicle.Domain.Enums.MessageType.Review)
                                              .Select(e => new SelectListItem
                                              {
                                                  Value = e.ToString(),
                                                  Text = e.ToString()
                                              });

                                    <select class="form-select mb-3" aria-label="MessageType" name="MessageType" required>
                                        @foreach (var item in typeList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <button type="submit" class="site-btn">Submit Now</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
