
@{
    ViewBag.Title = "Cars";
}
@model RentShopVehicle.Models.AllAnnouncementsDetInfo
<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="/Images/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Car Listing</h2>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->
<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <div class="car__search">
                        <h5>Car Search</h5>
                        @using (Html.BeginForm("FindCar", "Home", FormMethod.Post, new { autocomplete = "off" }))
                        {
                            <input type="text" name="Model" placeholder="Search...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        }
                        </div>
                    <div class="car__filter">
                        <h5>Car Filter</h5>
                        @using (Html.BeginForm("FindCar", "Home", FormMethod.Post, new { autocomplete = "off" }))
                        {

                            var makeList = Enum.GetValues(typeof(RentShopVehicle.Domain.Enums.Make))
                            .Cast<RentShopVehicle.Domain.Enums.Make>
                                ()
                                .Select(e => new SelectListItem
                                {
                                    Value = e.ToString(),
                                    Text = e.ToString()
                                });

                            <select aria-label="Make" name="Make">
                                <option data-display="Brand">Select Brand</option>
                                @foreach (var item in makeList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>

                            var transList = Enum.GetValues(typeof(RentShopVehicle.Domain.Enums.Transmission))
                            .Cast<RentShopVehicle.Domain.Enums.Transmission>
                                ()
                                .Select(e => new SelectListItem
                                {
                                    Value = e.ToString(),
                                    Text = e.ToString()
                                });

                            <select aria-label="Transmission" name="Transmission">
                                <option data-display="Transmission">Select Transmission</option>
                                @foreach (var item in transList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <div class="filter-price">
                                <p>Price:</p>
                                <div class="price-range-wrap">
                                    <div class="filter-price-range"></div>
                                    <div class="range-slider">
                                        <div class="price-input">
                                            <input type="text" name="Price" id="filterAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="car__filter__btn">
                                <button type="submit" class="site-btn">Apply FIlters</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="car__filter__option">
                    <div class="row">
                    </div>
                </div>
                <div class="row">

                    @foreach(var ann in Model.Announcements)
                    {


                        <div class="col-lg-4 col-md-4">
                            <div class="car__item">
                                <div class="car__item__pic__slider owl-carousel">
                                    @if (ann.ImageUrls.Count == 0)
                                    {
                                        <img src="~/Images/cars/car-1.jpg" alt="">
                                    }
                                    else
                                    {
                                        var l = ann.ImageUrls.Count;
                                        if (ann.ImageUrls.Count > 4)
                                        {
                                            l = 4;
                                        }
                                        for (int i= 0; i < l;i++)
                                        {
                                            <img src="@ann.ImageUrls[i]" alt="Photo" />
                                        }
                                    }
                                </div>
                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date">@ann.Year</div>
                                        <h5><a href="@Url.Action("CarDetails", "Home", new { Id = ann.Id })">@ann.Make @ann.Model</a></h5>
                                        <ul>
                                            <li><span>@ann.Mileage</span> mi</li>
                                            <li>@ann.Transmission</li>
                                            <li><span>@ann.HP</span> hp</li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">@ann.Type</span>
                                        <h6>$@ann.Price @if (ann.Type == RentShopVehicle.Domain.Enums.AnnouncementType.Rent)
                                        {<span>/ @ann.RentTimeInDays d.</span>}
                                        else {<span></span> }</h6>

                                    </div>

                                </div>

                            </div>

                        </div>

                    }




                </div>
                @*<div class="pagination__option">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><span class="arrow_carrot-2right"></span></a>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- Car Section End -->
