
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <a href="./index.html"><img src="~/Images/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="header__nav">
                <nav class="header__menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li> @*class="active"*@
                        <li><a href="@Url.Action("Cars", "Home")">Cars</a></li>
                        <li><a href="@Url.Action("Blog", "Home")">Blog</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                                <li><a href="./car-details.html">Car Details</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("AboutUs", "Home")">About</a></li>
                        <li><a href="@Url.Action("Contacts", "Home")">Contacts</a></li>
                    </ul>
                </nav>
                <div class="header__nav__widget">
                    <div class="header__nav__widget__btn">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                    </div>
                    @if(Session.)
                    <a href="@Url.Action("Login", "Login")" class="primary-btn">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="canvas__open">
        <span class="fa fa-bars"></span>
    </div>
</div>