@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Private account</title>

    @Styles.Render("~/bundles/other/materialdesignicons.min/css")
    @Styles.Render("~/bundles/other/style1/css")

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false);
    }

    @Styles.Render("~/bundles/main/css")
</head>
<body>
    <div class="container-scroller">

        @Html.Partial("_Sidebar2")

        <div class="container-fluid page-body-wrapper">

            @Html.Partial("_Header2")

            <div class="main-panel">

                @RenderBody()

                <footer class="footer">
                    @Html.Partial("_Footer2")
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/other/dashboard/js")
    @Scripts.Render("~/bundles/other/hoverable-collapse/js")
    @Scripts.Render("~/bundles/other/Chart.min/js")
    @Scripts.Render("~/bundles/other/misc/js")
    @Scripts.Render("~/bundles/other/off-canvas/js")
    @Scripts.Render("~/bundles/other/progressbar.min/js")
    @Scripts.Render("~/bundles/other/settings/js")
    @Scripts.Render("~/bundles/other/todolist/js")
    @Scripts.Render("~/bundles/other/vendor.bundle.base/js")
    @Scripts.Render("~/bundles/other/jquery-jvectormap-world-mill-en/js")
    @Scripts.Render("~/bundles/other/jquery-jvectormap.min/js")

    @RenderSection("Scripts", required: false)

</body>
</html>
