
@{
    Layout = "~/Views/Shared/_Office.cshtml";
    ViewBag.Title = "AllUsers";
}
@model RentShopVehicle.Models.UsersInfo

<div class="bg-light rounded h-100 p-4">
    <h3 class="mb-4">Manage users</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Login histories</th>
                    <th scope="col">Role</th>
                    <th scope="col">Account state</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.userInfos)
                {
                    <tr>
                        <th>@user.Id</th>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>
                            @foreach (var hist in user.LoginHistories)
                            {
                                <div>IP: @hist.LoginIP</div>
                                <div>Entry Date: @hist.LastEntry</div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("ChangeUserRole", "PrivateAccount", FormMethod.Post, new { autocomplete = "off" }))
                            {
                                <input type="number" name="Id" class="form-control" style="display: none;" value="@user.Id" readonly>
                                var rolesList = Enum.GetValues(typeof(RentShopVehicle.Domain.Enums.Role))
                                .Cast<RentShopVehicle.Domain.Enums.Role>()
                                .Where(e => e != RentShopVehicle.Domain.Enums.Role.Admin1 && e!= user.UserRole)
                                .Select(e => new SelectListItem
                                {
                                    Value = e.ToString(),
                                    Text = e.ToString()
                                });

                                <select class="form-select mb-3" aria-label="Role" name="UserRole" required>
                                    <option data-display="Role" value="@user.UserRole.ToString()">@user.UserRole.ToString()</option>
                                    @foreach (var item in rolesList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <button type="submit" class="btn btn-warning">Change Role</button>
                            }
                        </td>
                        <td>@user.AccountState<div><a href="@Url.Action("ChangeUsersAccountStatus", "PrivateAccount", new { Id = user.Id })"><div class="btn btn-warning">Change</div></a></div></td>
                        <td><a href="@Url.Action("", "", new { Id = user.Id })"><div class="btn btn-success">More info</div></a></td>
                        <td><a href="@Url.Action("DeleteUser", "PrivateAccount", new { Id = user.Id })"><div class="btn btn-danger">Delete</div></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

