@{
    Layout = "~/Views/Shared/_Office.cshtml";
    ViewBag.Title = "Purchases";
}
<div class="bg-light rounded h-100 p-4">
    <h3 class="mb-4">My purchases</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AnnouncementConnectors)
                {
                    if (item.Status == RentShopVehicle.Domain.Enums.AnnouncementStatus.Done && item.Type == RentShopVehicle.Domain.Enums.AnnouncementType.Purchase)
                    {
                        <tr>
                            <th>@item.ConnectorId</th>
                            <td>Car</td>
                            <td>@item.Type</td>
                            <td>@item.Price</td>
                            <td>@item.Status</td>
                            <td><a href="@Url.Action("AnnouncementMoreInfo", "Deals", new { Id = item.ConnectorId })"><div class="btn btn-success">More info</div></a></td>
                            <td><a href="@Url.Action("DeleteAnnouncement", "Deals", new { Id = item.ConnectorId })"><div class="btn btn-danger">Delete</div></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
